.feature {
	background: url("../img/featue-bg.jpg");
	background-position: 50% 94px;
	display: block;
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 100px 0;

	.btn-view-works {
		background: $primary-color;
		color: $light;
		padding: 10px 20px;
	}
}