$light: #f1f7ff;
$primary-color:#854dff;
$secondary-color:#061551;
$success: #1bbb1b;
$black: #061551;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Roboto', sans-serif;
$secondary-font:'Volkhov', serif;
$icon-font: 'themefisher-font';